body {
    background-image: url(./fondo_planeta.jpeg);
}

button {

    text-align: center;
    margin: 1%;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 23, 23);

}

.botones {
    text-align: center;
}